<!DOCTYPE html>
<html>
    <head>
        <title>42 coffee shop</title>
    </head>
    <body>
        <h1>42 coffee shop</h1>
        <div>
        <% coffeeList.map((coffee) => { %>
            <h2><%= coffee.name %></h2>
            <p>Origin: <%= coffee.origin %></p>
            <p><%= coffee.weight %></p>
            <p>€<%= coffee.price %></p>
            <p>We have: <%= coffee.quantity %> units</p>
            <p>
                <form action="/coffee/<%= coffee.id %>" method="GET">
                    <button type="submit">see</button>
                </form>
            </p>
            <p>
                <form action="/coffee/<%= coffee.id %>/decrease" method="POST">
                    <label for="coffeeSelling"></label>
                    <input type="number" name="coffeeSelling" id="coffeeSelling" min="0" max="<%= coffee.quantity %>">
                    <button type="submit">buy</button>
                </form>
            </p>
        <% }) %>
        </div>
    </body>
</html>